# Site config
# 1. Site settings
# 2. Theme settings
# 3. Installed Gems/Plugins
# 4. Files excluded from Jekyll builds
# 5. Gem settings
# 6. Jekyll settings
# 7. Collections
# 8. Jekyll collections settings
# 9. Site favicons & manifest icons
# 10. Site navigation

# 1. Site Settings
title: "Alhambra Tenants Union"
email: "alhambratenantsunion@gmail.com"
description: >- # this means to ignore newlines until "baseurl:"
  "Alhambra Tenants Union is an independent, member-funded volunteer tenants and advocates building power in Alhambra."
baseurl: "/atu-site/" # the subpath of your site, e.g. /blog
url: "https://alhambratenantsunion.github.io" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username:
#github_username:
logo: "/assets/logos/logo.svg" # Site logo, also used in jekyll-seo-tag
repo: "https://github.com/alhambratenantsunion/atu-site"
# Taken from alembic
# disqus: "alembic-1" # Blog post comments, uncomment the option and set the site ID from your Disqus account
# google_analytics: ''
# google_analytics_anonymize_ip: ''
# service_worker: false # Will turn off the service worker if set to false
css_inline: true # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# disqus: "alembic-1" # Blog post comments, uncomment the option and set the site ID from your Disqus account
# google_analytics: ''
# google_analytics_anonymize_ip: ''
# service_worker: false # Will turn off the service worker if set to false

# 2. Theme settings
# theme: minima
# 02.26.21 Replaced minima theme with Alembic; see https://github.com/daviddarnes/alembic/issues/167
remote_theme: alhambratenantsunion/alembic@main

# 3. Installed gems/plugins
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  # from Alembic _config.yml
  - jekyll-sitemap
  - jekyll-mentions
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-commonmark
  - jekyll-include-cache
  - jemoji

# 4. Files excluded from Jekyll builds
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
  - README.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - screenshot.png
  - LICENSE
  - CNAME
  - Gemfile
  - Gemfile.lock
  - alembic-jekyll-theme.gemspec
  - .jekyll-cache

# 5. Gem settings
# Taken from alembic
paginate: 2 # jekyll-paginate > items per page
paginate_path: blog/page:num # jekyll-paginate > blog page
jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
twitter:
  username: # jekyll-seo-tag > Owners twitter username
author: # jekyll-seo-tag > default author
social: # jekyll-seo-tag > social overrides
  name: # jekyll-seo-tag > real name
  links: # jekyll-seo-tag > social aliases (sameAs)
    - https://www.facebook.com/alhambratenantsunion
    - https://www.instagram.com/alhambratenantsunion
    - https://github.com/alhambratenantsunion

# 6. Jekyll settings
# Taken from alembic
sass:
  style: compressed # Style compression
permalink: pretty # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: America/Los_Angeles # Timezone for blog posts and alike

# 7. Collections
# Taken from alembic
collections:
  posts:
    title: Posts # Needed for Siteleaf
    output: true
    description: "My thoughts and ideas" # The post list page content
    feature_text: |
      Welcome to the blog
    feature_image: "https://picsum.photos/2560/600?image=866"

# 8. Jekyll collections settings
# Taken from alembic
defaults:
  - scope:
      path: ""
    values:
      image: "/assets/default-social-image.png" # Default image for sharing
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  - scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages

# 9. Site favicons & manifest icons
# Taken from alembic
favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
  16: "/assets/logos/logo@16px.png"
  32: "/assets/logos/logo@32px.png"
  96: "/assets/logos/logo@96px.png"
  120: "/assets/logos/logo@120px.png"
  144: "/assets/logos/logo@144px.png"
  180: "/assets/logos/logo@180px.png"
  512: "/assets/logos/logo@512px.png"
  1024: "/assets/logos/logo@1024px.png"

# 10. Site navigation
# Taken from alembic
navigation_header:
  - title: Home
    url: /
  - title: About
    url: /about/
  - title: Blog
    url: /blog/
  - title: Join
    url: /join/

navigation_footer:
  - title: Created by the ATU

social_links: # Appears in sidebar. Set the urls then uncomment and comment out as desired
  Facebook: https://www.facebook.com/alhambratenantsunion
  Instagram: https://www.instagram.com/alhambratenantsunion
  Github: https://github.com/alhambratenantsunion
  RSS: /feed.xml

sharing_links: # Appear at the bottom of single blog posts, add as desired. The value can be 'true' or the desired button colour
  Twitter: "#0d94e7"
  facebook: "#3B5998"
  Email: true
